.button {
  justify-content: center;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  width: 160px;
  font-size: large;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
  border: none;
  margin: 30px;
  border-radius: 7px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-nemo-dark);
}
