.footer {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  text-align: center;
  color: var(--color-foam);
  background-color: var(--color-granite);
  padding: 10px;
  margin: 0;
  position: absolute, bottom;
}
